---
import Search from "../components/Search.astro";
import FilterRegions from "../components/FilterRegions.astro";
import Layout from "../layouts/Layout.astro";
import countriesAPI from "../services/api/countriesAPI";
import type { Country } from "../types/country";
import CountryCard from "../components/CountryCard.astro";

// const countries = await countriesAPI.getAll();

// console.log(countries);
---

<Layout title="Welcome to Astro.">
  <main class="">
    <div class="text-color-text px-[80px] min-h-screen pt-[50px]">
      <div class="">
        <div class="flex justify-between items-center w-full">
          <Search />
          <FilterRegions />
        </div>

        <section>
          <div
            class="countries-list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-[75px] gap-y-[73px] mt-[47px]"
          >
            <!-- {
              countries.map((country: Country) => (
                <CountryCard country={country} />
              ))
            } -->
          </div>
        </section>
      </div>
    </div>
  </main>
</Layout>

<!-- Agregar el script del lado del cliente -->
<script>
	import countriesAPI from "../services/api/countriesAPI";
	import type { Country } from "../types/country";
	import { countries, selectedRegion } from "../store.js";

	document.addEventListener("DOMContentLoaded", async function () {
		const countriesList = document.querySelector(".countries-list");

		// Render countries
		const renderCountries = (countries: Country[]) => {
			if (countriesList) {
				countriesList.innerHTML = "";
				countries.forEach((country: Country) => {
					const countryCard = document.createElement("div");
					countryCard.classList.add("country-card", "bg-elements", "hover:cursor-pointer", "shadow-md", "rounded-md", "overflow-hidden");
					countryCard.innerHTML = `
						<img src='${country.flags.svg}' alt='${country.name.common}' class="w-full h-[160px] object-cover" />
						<div class="p-6">
							<h2 class="text-color-text font-semibold text-[18px] mb-4">${country.name.common}</h2>
							<p class="text-color-text font-medium text-[14px] mb-2">
								<span class="font-semibold">Population:</span> ${country.population}
							</p>
							<p class="text-color-text font-medium text-[14px] mb-2">
								<span class="font-semibold">Region:</span> ${country.region}
							</p>
							<p class="text-color-text font-medium text-[14px] mb-2">
								<span class="font-semibold">Capital:</span> ${country.capital}
							</p>
						</div>
					`;
					countriesList.appendChild(countryCard);
				});
			}
		};

		// Fetch and set countries data
		const fetchCountriesData = async (region: string) => {
			try {
				let countriesData;
				if (region === "all") {
					countriesData = await countriesAPI.getAll();
				} else {
					countriesData = await countriesAPI.getAllByRegion(region);
				}
				countries.set(countriesData);
				localStorage.setItem("countriesData", JSON.stringify(countriesData));
				renderCountries(countriesData);
			} catch (error) {
				console.error("Error fetching data:", error);
			}
		};

		// Filter countries by region
		selectedRegion.subscribe(async (region) => {
			const cachedData = localStorage.getItem("countriesData");
			if (cachedData) {
				const countriesData = JSON.parse(cachedData);
				if (region === "all") {
					countries.set(countriesData);
				} else {
					const filteredCountries = countriesData.filter((country: Country) => country.region === region.charAt(0).toUpperCase() + region.slice(1));
					countries.set(filteredCountries);
				}
				renderCountries(countries.value);
			} else {
				await fetchCountriesData(region);
			}
		});

		// Initial fetch
		await fetchCountriesData("all");
	});
</script>
